
#topheader {
    grid-area: top_track;
    background-color: slategrey;

}

#logo {

    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#teamname {

    text-align: center;
    font-size: x-large;
    font-family: Jazz LET, URW Chancery L, cursive, fantasy;

}

.sidenavbar {
    grid-area: track_1;
    background-color: darkgrey;
    height: 500px;

}

.mainarea {
    grid-area: area_1;
    background-color: azure;
    height: 500px;
}
.gridlayout {

    display: grid;
    grid-template-areas: 'top_track top_track top_track'
    'track_1 area_1 area_1'
    'track_1 area_1 area_1'
    'track_1 area_1 area_1'
    'track_1 area_1 area_1';

}

.milestoneblock {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 15%;
}

#milestone1 {

    font-size: larger;
    font-weight: bold;

}

#milestone2 {

    font-size: larger;
    font-weight: bold;

}

#milestone3 {

    font-size: larger;
    font-weight: bold;

}

#milestone4 {

    font-size: larger;
    font-weight: bold;

}

#welcome {
    font-size: x-large;
    font-weight: bold;
    padding-left: 15%;
}